<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
    <style type="text/css">
        .list a
        {
            color: #cc0000;
            text-transform: uppercase;
            font-family: Verdana;
            font-size: 11px;
            text-decoration: none;
        }
    </style>
</head>
<body marginheight="0" topmargin="0" marginwidth="0" bgcolor="#fefefe" leftmargin="0">
    <table cellspacing="0" border="0" cellpadding="0" width="100%" style="padding-top: 100px;">
        <tr>
            <td valign="top">
                <table cellspacing="0" border="0" align="center" style="background: #fff;" cellpadding="0"width="600">
                    <tr>
                        <td>
                            <div id="header" style="padding-left: 10px; padding-right: 10px; padding-bottom: 50px;">
                                <div style="text-align: left;"><img src="cid:teleplan.png" /></div>
                            </div>
                        </td>
                        <td>
                            <div id="header" style="padding-left: 10px; padding-right: 10px; padding-bottom: 50px;">
                                <div style="text-align: right;"><img src="cid:ups.png" /></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                            <td valign="top" style="padding: 0 20px 10px; color: #000; font-size: 14px; font-family: Verdana;
                                line-height: 20px;text-align:justify;" colspan="2">
                              <b>Hello, <strong>{{username}}</strong>, Your password is:\n<b>{{ password }}</b></p>
                            </td>
                        </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="600" valign="top">
            </td>
        </tr>
    </table>
    </body></html>
